<% sender = message.user == current_user ? "me" : "him" %>
<div class="chat-bubble-wrapper <%= sender %>" style="padding: 0; padding-left: 55px; border: none; margin-top: 0;" >
  <div class="chat-bubble d-flex">
    <div class="pl-2">
      <div class="chat-message" style="margin-top: 5px;"><%= message.content %></div>
    </div>
  </div>
</div>
