.offers-wrapper {
  flex: 3;
}

.user-options {
  flex: 1;
  display:flex;
  flex-direction: column;
  margin-left:10px;
  a {
    display:inline-block;
    color:black;
  }
 }

.container > h1 {
  font-size: 40px;
}

.ngo-members {
  max-width:150px;
  border: 1px solid #874C62;
  background-color: white;
  a:hover{
   color : #874C62;
   text-decoration: none;
 }
  li {

   list-style:none;
  }
  ul {
   padding: 0;
  }
  p {
   margin-top: 5px;
  }
}
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .offers-display {
    flex-direction: column-reverse;
  }
}
