.offers-wrapper {
  flex: 3;
}

.user-options {
  flex: 1;
  width: 100%;
 }


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .offers-display {
    flex-direction: column-reverse;
  }
}
