<div id="ngo-member-<%= ngo_member.id %>" class="ngo-member">
  <%= ngo_member.user.first_name %>
  <% if @ngo.user == current_user %>
  <%= link_to admin_ngo_member_path(ngo_member), method: :delete, remote: true, data: {confirm: "Are you sure?"} do %>
    <i class="fas fa-trash-alt"></i>
    <% end %>
  <% end %>
</div>

