<div id="container">
  <div class="row mx-5 my-5 d-flex align-items-top">
    <div class="col-sm-12 col-md-6 my-5">
      <%= image_tag asset_path("give.jpg")%>
    </div>
    <div class="col-sm-12 col-md-6 my-1 p-5 form-style">
      <h2 class="text-center"><strong>To register my NGO</strong></h2>
       <%= render 'form', garden: @garden %>
    </div>
   </div>
</div>
