<div id="container">
  <div class="row mx-5 my-5 d-flex align-items-top form-container">
    <div class="col-sm-12 col-md-6 my-5 p-5 card-trip">
      <h2 class="text-center"><strong>To register my NGO</strong></h2>
       <%= render 'form', ngo: @ngo %>
    </div>
     <div class="col-sm-12 col-md-6 my-5">
     </div>
   </div>
  </div>
