
<div class="ngo-wrapper">
  <div class="ngo-title-wrapper">
    <div class="ngo-title">
      <h1><%=@ngo.name%></h1>
      <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#reportModal">
      Report this NGO
    </button> 
      <p>Location: <%=@ngo.address%> </p>
      <div class="button space-btw-button">
      </div>
    </div>
  </div>
  <div class="ngo-info">
    <p>About us</p>
    <p> <%=@ngo.description%> </p>
  </div>
  <div class="geocoder">
  </div>
  </div>
</div>

<%= render 'report_form' %>