<!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-4">
        <h6>About MANTA</h6>
         <p class="text-justify">MANTA is a plateform to channel the goodwill</p>
        </div>

        <div class="col-12 col-md-8 col-lg-8">
           <div><%=render "shared/mailinglist" %></div>
           <div class="box-info d-flex align-items-top">
            <div>
              <ul class="footer-links mr-5">
               <h6>ABOUT US</h6>
               <li><a href="#">Our team</a></li>
               <li><a href="#">Our impact</a></li>
               <li><a href="#">Our policy</a></li>
               <li><a href="#">Contact us</a></li>
              </ul>
            </div>
            <div>
              <h6>MADE BY</h6>
                <ul class="footer-links">
                  <li><a class="fab fa-github" href="https://github.com/fesilvajacquier"> Fer </a></li>
                  <li><a class="fab fa-github" href="https://github.com/pinplengpai"> Pin</a></li>
                  <li><a class="fab fa-github" href="https://github.com/YUYUMO"> Yuyu </a></li>
                  <li><a class="fab fa-github" href="https://github.com/Orpere"> Orlando </a></li>
                  <li>with<i class="fas fa-heart"></i></li>
                  <li>at <a href="https://www.lewagon.com">le wagon</a></li>
                </ul>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </footer>
