<div class="offer-show d-flex justify-content-center">
  <%= render 'offer_index', offers: @offers %>
  <%= render 'messages/messages', message: @message, messages: @messages %>
  <%= render 'offer_pictures', locals: {offer: @offer, picture: @picture} %>
</div>