.banner-img {
  height: 75vh ;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-banner {
  background-size: cover;
  height: 75vh;
  color: #eee;
  text-align: center;
  margin-bottom: 61px;
  margin-top:-81px
}

.word {
  font-size: 60px;
  color: white;
}
