.button {
  color: white !important;
  margin-bottom:3px;
  max-width:150px;
  font-size: 16px;
  padding: 8px 24px;
  border-radius: 4px;
  background:#874C62;
  transition: background 0.3s ease;
   &:hover {
    text-decoration:none !important;
    color:black !important;
  }
}

.button.edit:hover {
  color:black !important;
}

