.hover-yellow {
  &:hover {
    border-top: 15px solid #F2D388 !important;
    color: #F2D388 !important;
    i {
      color: #F2D388 !important;
    }
  }

}

.card-small {
  margin: auto;
  width: 170px;
  height: 170px;
  background: #282F33;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 15px solid #C4C4C4;
  color: #C4C4C4;
  h2 {
    font-size: 15px;
    text-align: center;
    font-weight: lighter;
  }
  i {
    font-size: 50px;
    padding-bottom: 5px;
    color: #C4C4C4;
  }
  &:hover {
    border-top: 15px solid #D98D7C;
    color: #D98D7C;
    i {
      color: #D98D7C;
    }
  }
}

.card > img {
     width: 121px;
    height: 188px;
    margin: auto;
}

.card-category {
  outline: 1px solid #eae6e6;
}

.card-category:hover {
  background-color: #D98D7C !important;
  color: white !important;
}

.card-product {
  overflow: hidden;
  // max-width: 700px;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  border-radius: 4px;
}

.card-product a {
  font-size: 12px;
  color:black;
  &:hover {
    text-decoration:none !important;
  }
}

.card-product .card-product-infos {
  padding: 16px;
  max-width: 650px;
  height: 120px;
}

.card-product:hover {
  position: relative;
  // top: -2px;
  // transition: 0.5s;
}

.top-clean:hover {
  border-top: 8px solid #55B8A9;
  button {
  background-color: #55B8A9;
  color: black !important;
  }
  div > a {
    background-color: #55B8A9;
    color: black !important;
  }
}

.top-butter:hover {
  border-top: 8px solid #F2D388;

  button {
    background-color: #F2D388;
    color: black !important;
  }
  div > a {
    background-color: #F2D388;
    color: black !important;
  }
}

.top-salmon:hover {
  border-top: 8px solid #D98D7C;
  button {
  background-color: #D98D7C;
  color: black !important;
  }
  div > a {
    background-color: #D98D7C;
    color: black !important;
  }
}

.box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 0px;
  width: 320px;
  height: 340px;
  cursor: pointer;
  text-align: center;
  transition-property: background, border-radius;
  transition-duration: .5s;
  transition-timing-function: linear;
  img {
    height: 120px;
    object-fit: cover;
    margin: 10px 0px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(240, 240, 240);
}h2 {
  text-align: center;
}



.box.card-green {
  background-color: #55B8A9;
}

.box.card-yellow {
  background-color: #F2D388;
}

.box.card-salmon {
  background-color: #D98D7C ;
}

.box:hover {
  background: #874C62;
  color: white;
  border-radius: 50%;
  flex-direction: column-reverse;
  transition-duration: .5s;
}
