.form-style{
  background-color: white;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  padding-top: 28px;
  padding-right: 36px;
  padding-left: 36px;
  padding-bottom: 28px;
}

.sign-in-form-style{
  background-color: white;
  border-radius: 50px;
  border-radius: 50px;
  padding-top: 28px;
  padding-right: 36px;
  padding-left: 36px;
  padding-bottom: 28px;
}

.new-ngo-image {
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.new-ngo-form-style {
  width: 100%;
  position: absolute;
  top: 110px;
  right: 70px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  background-color: white;
}

.new-ngo-wrapper {
  margin-top: 125px;
}

.new-ngo-form-wrapper {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 50px;
  box-shadow: 0px 0px 60px rgba(150, 150, 150, 0.4)
}

.ngo-img-form {
  img {
    width: 35px;
    margin-right: 15px;
    margin-left: 15px;
  }
}

.ngo-form-title{
  color:#54b8a9;
}

.ngo-form-heading{
  margin-bottom: 20px;
}

.input_field{
  border-color: #ffcc6b;
  border-radius: 35px;
}

abbr[title="required"] {
  display: none;
}

.put-center {
  width: 100%;
  text-align: center;
}

.separation {
  height: 1px;
  width: 80%;
  background-color: rgba(0,0,0,0.3);
  margin: 15px auto;
  position: relative;
}

.separation-text {
  position: absolute;
  left: 46%;
  top: -10px;
  background-color: white;
  padding: 0 8px;
}

.link-text {
  color: rgba(0,0,0,0.5);
  &:hover {
    color: #874c62
  }
}
