.chat-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 400px;
  .chat-status{

  }
  .chat-box {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    position:relative;
    border-top: 1px solid rgba(0,0,0,0.1);
    background-color: white;
    .chat-bubble-wrapper {
      padding: 20px 15px;
      margin-top: 20px;
      border-top: 1px solid rgba(0,0,0,0.2);
      .change {
        margin-top: 20px;
      }
      &.me {
        padding-bottom: 15px;
      }
      &.him {
        margin-top: 20px;
        padding-bottom: 15px;
      }
      .chat-timestamp {
          font-size: 12px;
          font-weight: lighter;
          color: rgba(0,0,0,0.6);
      }
      .chat-bubble {
        }
        &.parking-share {
        }
        .chat-username {
          font-size: 14px;
          font-weight: bold;
          padding-right: 5px;
        }
      }
    }
  }
  .chat-message {
    white-space: pre-wrap;
    text-align: justify;
    margin-top: 10px;
    font-size: 14px;
    font-weight: lighter;
    color: rgba(0,0,0,0.7);
  }

    #chat-form {
      width: 100%;
    #message {
      background-color: white;
    }
  }

 #message {
   background-color: white;
   // border-radius: 8px;
   box-shadow: none;
   border: none;
   border-top: 1px solid rgba(0,0,0,0.1);
   border-radius: 0px !important;
 }

.messenger-name {
  position: relative;
  width:300px;
  height:60px;
  border-top: 1px solid rgba(0,0,0,0.1);
  padding-left: 10px;
  margin-bottom: -3px;
  padding-top: 9px;
  h4 {
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin: 0;
  }
  span {
    color: rgba(0,0,0,0.5);
    font-size: 12px;
    margin: 4px 0;
    font-weight: lighter;
  }
}

#status {
  width: 8px;
  height: 8px;
  background-color: white;
  border: 2px solid rgba(0,0,0,0.6);
  border-radius: 50%;
}

 .messenger-name > p{
   margin-top: 5px;
   margin-bottom: 20px;
   position: absolute;
   color: #157FFB;
 }
