<div class="container-fluid new-ngo-wrapper d-flex justify-content-center align-items-center">
    <div class="col-sm-12 col-md-6 form-style add-pub">
        <h2 class="text-center ngo-form-heading"><strong>To post my <span class="ngo-form-title">NGO's request</span></strong></h2>
         <%= render'form', ngo: @ngo, publication: @publication, categories: @categories %>
    </div>
   </div>
</div>
